<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 全局开关 -->
	<settings>
		<!-- 延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 设置为true时会加载所有属性，设置为false每个属性都会按需加载 -->
		<setting name="aggressiveLazyLoading" value="false"/>
		<!-- 二级缓存全局开关 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	
<!--	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
		</plugin>
	</plugins>-->
	
</configuration>